# Instalando pacotes Python
* Pandas: Biblioteca para manipulação de dados em Python

In [ ]:
pip install pandas

# Importando pacotes Python

In [17]:
import pandas as pd

# Substitua 'seu_arquivo.csv' pelo caminho do seu arquivo CSV
caminho_do_arquivo = 'base_teste.csv'

# Carregando o arquivo CSV em um DataFrame do Pandas
dados = pd.read_csv(caminho_do_arquivo, sep = ';')

display("função head do pandas")

# Exibindo as primeiras linhas do DataFrame
display(dados.head(1))

display(dados.tail(2))

display("função info do pandas")

display (dados.info())

'função head do pandas'

    nome  estado
0  julio   bahia

       nome         estado
1  fernando           acre
2     luiza   minas gerais

'função info do pandas'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome     3 non-null      object
 1    estado  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

None

In [7]:
dados.head()

       nome         estado
0     julio          bahia
1  fernando           acre
2     luiza   minas gerais

In [10]:
variavel

1

In [12]:
display(1)

1

In [ ]:
variavel = "oi"
variavel = 2
import 
for
as
# teste

minhaVariavel = 1

minha_variavel = 1
    

def minha_funcao

In [9]:
variavel = 1

In [ ]:
print (variavel)

In [ ]:
a = 0

if a = 0:
    print ("é zero")
elif a = 1:
    print ("é um")
else:
    print ("é outra coisa")


if a = 0:
    print ("é zero")
else:
    if a = 1:
        print ("é um")
    else:
        print ("é outra coisa")